Repository NHSDigital/dtos-hub: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/ado-agents-dev.yaml, .azuredevops/pipelines/hub-infrastructure-prod.yaml

.azuredevops/pipelines/ado-agents-dev.yaml:

---

name: $(Build.SourceBranchName)-$(Date:yyyyMMdd)_$(Rev:r)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - .azuredevops/agent-pools/*

pool:
  vmImage: ubuntu-latest

resources:
  repositories:
    - repository: dtos-devops-templates
      type: github
      name: NHSDigital/dtos-devops-templates
      ref: 46e5d81bf58a7b9324a35e191eac7f6cc3660dfd
      endpoint: NHSDigital

variables:
  - group: global_variable_group
  - group: development_variable_group
  - group: development_agent_pool
  - name: TF_DIRECTORY
    value: $(System.DefaultWorkingDirectory)/$(System.TeamProject)/.azuredevops/agent-pools
  - name: BACKEND_AZURE_STORAGE_ACCOUNT_KEY
    value: agent-pool.tfstate
  - name: TF_PLAN_ARTIFACT
    value: tf_plan_agent_pool_art
  - name: ENVIRONMENT
    value: development

stages:
  - stage: terraform_plan
    displayName: Terraform Plan
    condition: eq(variables['Build.Reason'], 'Manual')
    variables:
      tfvars: environments/$(ENVIRONMENT).tfvars
    jobs:
      - job: init_and_plan
        displayName: Init, plan, store artifact
        steps:
          - checkout: self
          - checkout: dtos-devops-templates
          - template: .azuredevops/templates/steps/tf_plan.yaml@dtos-devops-templates

  - stage: terraform_apply
    displayName: Terraform Apply
    dependsOn: [terraform_plan]
    condition: and(eq(dependencies.terraform_plan.outputs['init_and_plan.TerraformPlan.changesPresent'], 'true'), eq(variables['Build.Reason'], 'Manual'))
    jobs:
      - deployment: terraform_apply
        displayName: Init, get plan artifact, apply
        environment: $(ENVIRONMENT)
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                - checkout: dtos-devops-templates
                - template: .azuredevops/templates/steps/tf_apply.yaml@dtos-devops-templates

.azuredevops/pipelines/hub-infrastructure-prod.yaml:

---

name: $(Build.SourceBranchName)-$(Date:yyyyMMdd)_$(Rev:r)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - infrastructure/*

pool:
  #vmImage: ubuntu-latest
  name: private-pool-prod-uks

resources:
  repositories:
    - repository: dtos-devops-templates
      type: github
      name: NHSDigital/dtos-devops-templates
      ref: 6698a57ef95f35661bb668e1b929e6894a554ac6
      endpoint: NHSDigital

variables:
  - group: PRD_hub_backend
  - group: PRD_hub_backend_remote_state # for certbot state storage
  - group: PRD_hub_config
  - name: TF_DIRECTORY
    value: $(System.DefaultWorkingDirectory)/$(System.TeamProject)/infrastructure
  - name: TF_VERSION
    value: 1.9.2
  - name: TF_PLAN_ARTIFACT
    value: tf_plan_hub_art_PRD
  - name: ENVIRONMENT
    value: production

stages:
  - stage: terraform_plan
    displayName: Terraform Plan
    condition: eq(variables['Build.Reason'], 'Manual')
    variables:
      tfVarsFile: environments/$(ENVIRONMENT).tfvars
    jobs:
      - job: init_and_plan
        displayName: Init, plan, store artifact
        steps:
          - checkout: self
          - checkout: dtos-devops-templates
          - template: .azuredevops/templates/steps/tf_plan.yaml@dtos-devops-templates

  - stage: terraform_apply
    displayName: Terraform Apply
    dependsOn: [terraform_plan]
    condition: and(eq(dependencies.terraform_plan.outputs['init_and_plan.TerraformPlan.changesPresent'], 'true'), eq(variables['Build.Reason'], 'Manual'))
    jobs:
      - deployment: terraform_apply
        displayName: Init, get plan artifact, apply
        environment: $(ENVIRONMENT)
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                - checkout: dtos-devops-templates
                - template: .azuredevops/templates/steps/tf_apply.yaml@dtos-devops-templates

Update gitleaks.toml
  scripts/config/gitleaks.toml
Due: none

Adding Dtos tooling ACR into hub (#78)
  infrastructure/environments/development.tfvars
  scripts/config/gitleaks.toml
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

fix: DTOSS-7946 taint avd session hosts
  .azuredevops/pipelines/ado-agents-dev.yaml
  .azuredevops/pipelines/ado-agents-prod.yaml
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  .azuredevops/pipelines/taint-avd-hosts-dev.yaml
  .azuredevops/pipelines/taint-avd-hosts-prod.yaml
  .azuredevops/pipelines/update-acr-public-ips.yaml
Due: none

fix: DTOSS-7946 taint avd session hosts (#79)
  .azuredevops/pipelines/ado-agents-dev.yaml
  .azuredevops/pipelines/ado-agents-prod.yaml
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  .azuredevops/pipelines/taint-avd-hosts-dev.yaml
  .azuredevops/pipelines/taint-avd-hosts-prod.yaml
  .azuredevops/pipelines/update-acr-public-ips.yaml
Due: none

feat/allow direct specification of AVD image_source_id parameter
  .azuredevops/pipelines/ado-agents-dev.yaml
  .azuredevops/pipelines/ado-agents-prod.yaml
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  .azuredevops/pipelines/taint-avd-hosts-dev.yaml
  .azuredevops/pipelines/taint-avd-hosts-prod.yaml
  .azuredevops/pipelines/update-acr-public-ips.yaml
  infrastructure/environments/production.tfvars
  infrastructure/variables.tf
  infrastructure/virtual_desktop.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

feat/allow direct specification of AVD image_source_id parameter (#80)
  .azuredevops/pipelines/ado-agents-dev.yaml
  .azuredevops/pipelines/ado-agents-prod.yaml
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  .azuredevops/pipelines/taint-avd-hosts-dev.yaml
  .azuredevops/pipelines/taint-avd-hosts-prod.yaml
  .azuredevops/pipelines/update-acr-public-ips.yaml
  infrastructure/environments/production.tfvars
  infrastructure/variables.tf
  infrastructure/virtual_desktop.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

Added new ACR for the temp environments
  infrastructure/environments/development.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

wip
  infrastructure/environments/development.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

Feat: DTOSS-8363 publish parman www
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  infrastructure/application_gateway.tf
  infrastructure/variables.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

fix: update azurerm provider
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  .azuredevops/pipelines/taint-avd-hosts-dev.yaml
  .azuredevops/pipelines/taint-avd-hosts-prod.yaml
  .azuredevops/pipelines/update-acr-public-ips.yaml
  infrastructure/application_gateway.tf
  infrastructure/providers.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

Add table service to private dns
  infrastructure/dns_private.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

multiple public dns domain support
  infrastructure/api_management.tf
  infrastructure/application_gateway.tf
  infrastructure/certificate.tf
  infrastructure/dns_private.tf
  infrastructure/dns_public.tf
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
  infrastructure/variables.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

allow App Services to read certs from Key Vault, App GW changes for certbot testing
  infrastructure/application_gateway.tf
  infrastructure/data.tf
  infrastructure/environments/development.tfvars
  infrastructure/key_vault.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

All DNS public records are now created dynamically
  .azuredevops/agent-pools/environments/development.tfvars
  infrastructure/application_gateway.tf
  infrastructure/data.tf
  infrastructure/dns_public.tf
  infrastructure/environments/development.tfvars
  infrastructure/key_vault.tf
  infrastructure/outputs.tf
  infrastructure/variables.tf
  scripts/config/gitleaks.toml
Due: .azuredevops/pipelines/ado-agents-dev.yaml, .azuredevops/pipelines/hub-infrastructure-prod.yaml

increment Managed DevOps Pool Terraform provider
  .azuredevops/agent-pools/dev_center.tf
  .azuredevops/agent-pools/managed_devops_pool.tf
  .azuredevops/agent-pools/providers.tf
  .azuredevops/pipelines/ado-agents-dev.yaml
  .azuredevops/pipelines/ado-agents-prod.yaml
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  .azuredevops/pipelines/taint-avd-hosts-dev.yaml
  .azuredevops/pipelines/taint-avd-hosts-prod.yaml
  .azuredevops/pipelines/update-acr-public-ips.yaml
  infrastructure/providers.tf
  infrastructure/variables.tf
Due: .azuredevops/pipelines/ado-agents-dev.yaml, .azuredevops/pipelines/hub-infrastructure-prod.yaml

feat: DTOSS-8363 Publish Participant Manager www (#81)
  .azuredevops/agent-pools/dev_center.tf
  .azuredevops/agent-pools/environments/development.tfvars
  .azuredevops/agent-pools/managed_devops_pool.tf
  .azuredevops/agent-pools/providers.tf
  .azuredevops/pipelines/ado-agents-dev.yaml
  .azuredevops/pipelines/ado-agents-prod.yaml
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  .azuredevops/pipelines/taint-avd-hosts-dev.yaml
  .azuredevops/pipelines/taint-avd-hosts-prod.yaml
  .azuredevops/pipelines/update-acr-public-ips.yaml
  infrastructure/api_management.tf
  infrastructure/application_gateway.tf
  infrastructure/certificate.tf
  infrastructure/data.tf
  infrastructure/dns_private.tf
  infrastructure/dns_public.tf
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
  infrastructure/key_vault.tf
  infrastructure/outputs.tf
  infrastructure/providers.tf
  infrastructure/variables.tf
  scripts/config/gitleaks.toml
Due: .azuredevops/pipelines/ado-agents-dev.yaml, .azuredevops/pipelines/hub-infrastructure-prod.yaml

Add table service to private dns (#82)
  infrastructure/dns_private.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

fix: debug certbot
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  infrastructure/environments/development.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

create screening.nhs.uk wildcard certs
  infrastructure/environments/development.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

move parman www to screening domain
  infrastructure/environments/development.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

add pfx_blob outputs
  infrastructure/outputs.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

updated template repo refs
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
Due: none

Feat: Create screening.nhs.uk wildcard certs (#84)
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/environments/development.tfvars
  infrastructure/outputs.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

fix: simplify letsencrypt-certificates output
  .azuredevops/agent-pools/environments/development.tfvars
  infrastructure/outputs.tf
Due: .azuredevops/pipelines/ado-agents-dev.yaml, .azuredevops/pipelines/hub-infrastructure-prod.yaml

fix: simplify letsencrypt-certificates output
  .azuredevops/agent-pools/environments/development.tfvars
  .azuredevops/pipelines/ado-agents-dev.yaml
  .azuredevops/pipelines/ado-agents-prod.yaml
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  .azuredevops/pipelines/taint-avd-hosts-dev.yaml
  .azuredevops/pipelines/taint-avd-hosts-prod.yaml
  .azuredevops/pipelines/update-acr-public-ips.yaml
  infrastructure/outputs.tf
Due: .azuredevops/pipelines/ado-agents-dev.yaml, .azuredevops/pipelines/hub-infrastructure-prod.yaml

fix: simplify letsencrypt-certificates output (#85)
  .azuredevops/agent-pools/environments/development.tfvars
  .azuredevops/pipelines/ado-agents-dev.yaml
  .azuredevops/pipelines/ado-agents-prod.yaml
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  .azuredevops/pipelines/taint-avd-hosts-dev.yaml
  .azuredevops/pipelines/taint-avd-hosts-prod.yaml
  .azuredevops/pipelines/update-acr-public-ips.yaml
  infrastructure/outputs.tf
Due: .azuredevops/pipelines/ado-agents-dev.yaml, .azuredevops/pipelines/hub-infrastructure-prod.yaml

Container apps private DNS in dev
  infrastructure/dns_private.tf
  infrastructure/environments/development.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

Container apps private DNS in dev (#86)
  infrastructure/dns_private.tf
  infrastructure/environments/development.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

Add missing private zone condition to the variable
  infrastructure/variables.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

Add missing private zone condition to the variable (#87)
  infrastructure/variables.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

fix: Add Public DNS Zone Resource Group name output
  infrastructure/outputs.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

fix: Add Public DNS Zone Resource Group name output (#88)
  infrastructure/outputs.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

Test private dns a record module
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
Due: none

feat: ACME terraform module test
  infrastructure/certificate.tf
  infrastructure/providers.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

wip
  infrastructure/certificate.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

switch acme dns plugin from azure to azuredns
  infrastructure/certificate.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml
