Repository NHSDigital/dtos-hub: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/ado-agents-dev.yaml, .azuredevops/pipelines/hub-infrastructure-prod.yaml

.azuredevops/pipelines/ado-agents-dev.yaml:

---

name: $(Build.SourceBranchName)-$(Date:yyyyMMdd)_$(Rev:r)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - .azuredevops/agent-pools/*

pool:
  vmImage: ubuntu-latest

resources:
  repositories:
    - repository: dtos-devops-templates
      type: github
      name: NHSDigital/dtos-devops-templates
      ref: 46e5d81bf58a7b9324a35e191eac7f6cc3660dfd
      endpoint: NHSDigital

variables:
  - group: global_variable_group
  - group: development_variable_group
  - group: development_agent_pool
  - name: TF_DIRECTORY
    value: $(System.DefaultWorkingDirectory)/$(System.TeamProject)/.azuredevops/agent-pools
  - name: BACKEND_AZURE_STORAGE_ACCOUNT_KEY
    value: agent-pool.tfstate
  - name: TF_PLAN_ARTIFACT
    value: tf_plan_agent_pool_art
  - name: ENVIRONMENT
    value: development

stages:
  - stage: terraform_plan
    displayName: Terraform Plan
    condition: eq(variables['Build.Reason'], 'Manual')
    variables:
      tfvars: environments/$(ENVIRONMENT).tfvars
    jobs:
      - job: init_and_plan
        displayName: Init, plan, store artifact
        steps:
          - checkout: self
          - checkout: dtos-devops-templates
          - template: .azuredevops/templates/steps/tf_plan.yaml@dtos-devops-templates

  - stage: terraform_apply
    displayName: Terraform Apply
    dependsOn: [terraform_plan]
    condition: and(eq(dependencies.terraform_plan.outputs['init_and_plan.TerraformPlan.changesPresent'], 'true'), eq(variables['Build.Reason'], 'Manual'))
    jobs:
      - deployment: terraform_apply
        displayName: Init, get plan artifact, apply
        environment: $(ENVIRONMENT)
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                - checkout: dtos-devops-templates
                - template: .azuredevops/templates/steps/tf_apply.yaml@dtos-devops-templates

.azuredevops/pipelines/hub-infrastructure-prod.yaml:

---

name: $(Build.SourceBranchName)-$(Date:yyyyMMdd)_$(Rev:r)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - infrastructure/*

pool:
  #vmImage: ubuntu-latest
  name: private-pool-prod-uks

resources:
  repositories:
    - repository: dtos-devops-templates
      type: github
      name: NHSDigital/dtos-devops-templates
      ref: 6698a57ef95f35661bb668e1b929e6894a554ac6
      endpoint: NHSDigital

variables:
  - group: PRD_hub_backend
  - group: PRD_hub_backend_remote_state # for certbot state storage
  - group: PRD_hub_config
  - name: TF_DIRECTORY
    value: $(System.DefaultWorkingDirectory)/$(System.TeamProject)/infrastructure
  - name: TF_VERSION
    value: 1.9.2
  - name: TF_PLAN_ARTIFACT
    value: tf_plan_hub_art_PRD
  - name: ENVIRONMENT
    value: production

stages:
  - stage: terraform_plan
    displayName: Terraform Plan
    condition: eq(variables['Build.Reason'], 'Manual')
    variables:
      tfVarsFile: environments/$(ENVIRONMENT).tfvars
    jobs:
      - job: init_and_plan
        displayName: Init, plan, store artifact
        steps:
          - checkout: self
          - checkout: dtos-devops-templates
          - template: .azuredevops/templates/steps/tf_plan.yaml@dtos-devops-templates

  - stage: terraform_apply
    displayName: Terraform Apply
    dependsOn: [terraform_plan]
    condition: and(eq(dependencies.terraform_plan.outputs['init_and_plan.TerraformPlan.changesPresent'], 'true'), eq(variables['Build.Reason'], 'Manual'))
    jobs:
      - deployment: terraform_apply
        displayName: Init, get plan artifact, apply
        environment: $(ENVIRONMENT)
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                - checkout: dtos-devops-templates
                - template: .azuredevops/templates/steps/tf_apply.yaml@dtos-devops-templates

fix: Moved Azure Monitor Private Link Scope from spoke to hub (#59)
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  infrastructure/azure_monitor_private_link_scope.tf
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
  infrastructure/outputs.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

fix: Output private DNS zone map
  infrastructure/outputs.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

fix: Output private DNS zone map
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
Due: none

fix: Output private DNS resource group name
  infrastructure/outputs.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

Add private endpoints to event grid
  infrastructure/dns_private.tf
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
  infrastructure/variables.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

Add private endpoints to event grid
  infrastructure/dns_private.tf
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
  infrastructure/outputs.tf
  infrastructure/variables.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

wip
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
Due: none

Fix/add private endpoints to event grid (#60)
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/dns_private.tf
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
  infrastructure/outputs.tf
  infrastructure/variables.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

fix: Event Hub publix access config for Production
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/environments/production.tfvars
  infrastructure/outputs.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

Fix: Event hub public access config for Production (#61)
  infrastructure/environments/production.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

fix: certificate thumbprint check before import to Key Vault
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
Due: none

fix: certificate thumbprint check before import to Key Vault (#62)
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
Due: none

fix: Lower Azure DevOps agent lifespan to 4 hours
  .azuredevops/agent-pools/variables.tf
Due: .azuredevops/pipelines/ado-agents-dev.yaml

fix: Lower Azure DevOps agent lifespan to 4 hours (#63)
  .azuredevops/agent-pools/variables.tf
Due: .azuredevops/pipelines/ado-agents-dev.yaml

feat: WVD image from gallery
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
  infrastructure/variables.tf
  infrastructure/virtual_desktop.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

feat: WVD image from gallery (#65)
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
  infrastructure/variables.tf
  infrastructure/virtual_desktop.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

fix: AVD resource naming
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  infrastructure/config.tf
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
  infrastructure/variables.tf
  infrastructure/virtual_desktop.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

fix: AVD resource naming
  infrastructure/environments/production.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

fix: AVD resource naming
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
  infrastructure/variables.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

feat: DTOS 6981 Updating github action from v3 and v4
  .github/actions/create-lines-of-code-report/action.yaml
  .github/actions/scan-dependencies/action.yaml
Due: none

feat: DTOS 6981 Updating github action from v3 and v4 (#66)
  .github/actions/create-lines-of-code-report/action.yaml
  .github/actions/scan-dependencies/action.yaml
Due: none

wip
  infrastructure/environments/development.tfvars
  infrastructure/virtual_desktop.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

set templates commit ref
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
Due: none

feat: AVD host pool scaling (#67)
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/config.tf
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
  infrastructure/variables.tf
  infrastructure/virtual_desktop.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

feat: DTOS 7243 diagnostic settings for apim hub and minimum tls version
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/api_management.tf
  infrastructure/diagnostic_settings.tf
  infrastructure/environments/production.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

feat: DTOS 7243 diagnostic settings for apim hub and minimum tls version (#68)
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/api_management.tf
  infrastructure/diagnostic_settings.tf
  infrastructure/environments/production.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

feat: DTOSS-7309 parman project setup
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

feat: DTOSS-7309 parman project setup (#69)
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

feat: DTOSS 7530 Diagnostic settings for ACR
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/container_registry.tf
  infrastructure/diagnostic_settings.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

feat: DTOSS 7530 Diagnostic settings for ACR (#70)
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/container_registry.tf
  infrastructure/diagnostic_settings.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

wip
  infrastructure/storage.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

add event grid topic
  infrastructure/environments/development.tfvars
  infrastructure/event_grid.tf
  infrastructure/storage.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

wip
  infrastructure/event_grid_topic.tf
  infrastructure/storage.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

testing
  infrastructure/storage.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

wip
  infrastructure/rbac.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

wip
  infrastructure/diagnostic_settings.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

wip
  infrastructure/outputs.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

testing
  infrastructure/event_grid_topic.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml

testing
  infrastructure/event_grid.tf
Due: .azuredevops/pipelines/hub-infrastructure-prod.yaml
