Repository NHSDigital/dtos-hub: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/ado-agents-dev.yaml, .azuredevops/pipelines/hub-infrastructure-dev.yaml

.azuredevops/pipelines/ado-agents-dev.yaml:
  name: $(Build.SourceBranchName)-$(Date:yyyyMMdd)_$(Rev:r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: terraform_plan
    displayName: Terraform Plan
    condition: eq(variables['Build.Reason'], 'Manual')
    variables:
      tfvars: environments/$(ENVIRONMENT).tfvars
    jobs:
    - job: init_and_plan
  ...

.azuredevops/pipelines/hub-infrastructure-dev.yaml:
  name: $(Build.SourceBranchName)-$(Date:yyyyMMdd)_$(Rev:r)
  pool:
    name: private-pool-dev-uks
  stages:
  - stage: terraform_plan
    displayName: Terraform Plan
    condition: eq(variables['Build.Reason'], 'Manual')
    jobs:
    - job: init_and_plan
      displayName: Init, plan, store artifact
      steps:
  ...

DTOSS-5412: Create the ACR fot the service insights project
  .tool-versions
  infrastructure/environments/development.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-dev.yaml

DTOSS-5412: Create the ACR fot the service insights project (#32)
  .tool-versions
  infrastructure/environments/development.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-dev.yaml

Update virtual_desktop.tf
  infrastructure/virtual_desktop.tf
Due: .azuredevops/pipelines/hub-infrastructure-dev.yaml

Update virtual_desktop.tf (#33)
  infrastructure/virtual_desktop.tf
Due: .azuredevops/pipelines/hub-infrastructure-dev.yaml

fix serint to serins for service insights shortname
  infrastructure/environments/development.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-dev.yaml

Pipeline to Transfer Images to Prod ACR
  .azuredevops/pipelines/image_copy_dev_acr_to_prod_acr.yaml
Due: none

featDTOSS 5205 adding law id to push logs to
  infrastructure/api_management.tf
Due: .azuredevops/pipelines/hub-infrastructure-dev.yaml

Feat/dtoss 5412 create azure resources and deployment pipelines in azure dev ops for team analyses (#34)
  infrastructure/environments/development.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-dev.yaml

fix: DTOSS-5711 terraform pipeline changes for cert automation
  .azuredevops/agent-pools/data.tf
  .azuredevops/agent-pools/managed_devops_pool.tf
  .azuredevops/agent-pools/variables.tf
  .azuredevops/pipelines/ado-agents-dev.yaml
  .azuredevops/pipelines/ado-agents-prod.yaml
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/data.tf
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
  infrastructure/networking_hub.tf
  infrastructure/outputs.tf
  infrastructure/providers.tf
  infrastructure/variables.tf
  infrastructure/virtual_desktop.tf
Due: .azuredevops/pipelines/ado-agents-dev.yaml, .azuredevops/pipelines/hub-infrastructure-dev.yaml

fix: DTOSS-5711 terraform pipeline changes for cert automation (#35)
  .azuredevops/agent-pools/data.tf
  .azuredevops/agent-pools/managed_devops_pool.tf
  .azuredevops/agent-pools/variables.tf
  .azuredevops/pipelines/ado-agents-dev.yaml
  .azuredevops/pipelines/ado-agents-prod.yaml
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/data.tf
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
  infrastructure/networking_hub.tf
  infrastructure/outputs.tf
  infrastructure/providers.tf
  infrastructure/variables.tf
  infrastructure/virtual_desktop.tf
Due: .azuredevops/pipelines/ado-agents-dev.yaml, .azuredevops/pipelines/hub-infrastructure-dev.yaml

fix: inconsistent variable name
  .azuredevops/agent-pools/data.tf
Due: .azuredevops/pipelines/ado-agents-dev.yaml

fix: inconsistent variable name (#36)
  .azuredevops/agent-pools/data.tf
Due: .azuredevops/pipelines/ado-agents-dev.yaml

feat: DTOSS-5711 lets encrypt certificate automation
  .azuredevops/agent-pools/data.tf
  .azuredevops/agent-pools/managed_devops_pool.tf
  .azuredevops/agent-pools/variables.tf
  .azuredevops/pipelines/ado-agents-dev.yaml
  .azuredevops/pipelines/ado-agents-prod.yaml
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/certificate.tf
  infrastructure/data.tf
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
  infrastructure/key_vault.tf
  infrastructure/networking_hub.tf
  infrastructure/outputs.tf
  infrastructure/providers.tf
  infrastructure/variables.tf
  infrastructure/virtual_desktop.tf
Due: .azuredevops/pipelines/ado-agents-dev.yaml, .azuredevops/pipelines/hub-infrastructure-dev.yaml

Add Private Endpoint Subnet to Pre-Prod
  infrastructure/environments/production.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-dev.yaml

feat: DTOSS-5711 lets encrypt certificate automation
  .azuredevops/pipelines/ado-agents-dev.yaml
  .azuredevops/pipelines/ado-agents-prod.yaml
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/baseline.tf
  infrastructure/certificate.tf
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
  infrastructure/key_vault.tf
  infrastructure/networking_hub.tf
  infrastructure/outputs.tf
  infrastructure/providers.tf
  infrastructure/variables.tf
Due: .azuredevops/pipelines/hub-infrastructure-dev.yaml

feat: DTOSS-5711 lets encrypt certificate automation (#38)
  .azuredevops/pipelines/ado-agents-dev.yaml
  .azuredevops/pipelines/ado-agents-prod.yaml
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/baseline.tf
  infrastructure/certificate.tf
  infrastructure/environments/development.tfvars
  infrastructure/environments/production.tfvars
  infrastructure/key_vault.tf
  infrastructure/networking_hub.tf
  infrastructure/outputs.tf
  infrastructure/providers.tf
  infrastructure/variables.tf
Due: .azuredevops/pipelines/hub-infrastructure-dev.yaml

fix: pipeline change ready for Application Gateway Config
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
Due: none

fix: pipeline change ready for Application Gateway Config (#40)
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
Due: none

feat: DTOSS-3407 SSL Certificates for Prod Hub
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/environments/production.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-dev.yaml

feat: DTOSS-3407 SSL Certificates for Prod Hub (#41)
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  .azuredevops/pipelines/hub-infrastructure-prod.yaml
  infrastructure/environments/production.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-dev.yaml

Add Private Endpoint Subnet to Pre-Prod (#39)
  infrastructure/environments/production.tfvars
Due: .azuredevops/pipelines/hub-infrastructure-dev.yaml

DTOSS-5599: Pipeline to transfer images to Prod ACR
  .azuredevops/pipelines/image_copy_dev_acr_to_prod_acr.yaml
Due: none

testing
  .azuredevops/pipelines/image_copy_dev_acr_to_prod_acr.yaml
Due: none

Adding private dns zones for the APIM
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
  infrastructure/api_management.tf
  infrastructure/data.tf
  infrastructure/environments/development.tfvars
  infrastructure/outputs.tf
  infrastructure/private_dns.tf
  infrastructure/variables.tf
Due: .azuredevops/pipelines/hub-infrastructure-dev.yaml

updating commit reference to pipeline
  .azuredevops/pipelines/hub-infrastructure-dev.yaml
Due: none

Path conditions:
  .azuredevops/pipelines/ado-agents-dev.yaml: any of: .azuredevops/agent-pools
  .azuredevops/pipelines/hub-infrastructure-dev.yaml: any of: infrastructure
